*.cache
*.gcda
*.gif
*.log
*.o
*.ppm
*.status
*.trs
*tar.gz
.*.swp
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/ray
/ray-headless
/ray-ppm
/test-driver
